.overflow {
    height: 50%;
    overflow: hidden;
}

.overflow .card-img-top {
    transform: scale(1);
    transition: all 0.2s ease-out;
}

.overflow .card-img-top:hover {
    transform: scale(1.2);
}

#nprogress .bar {
    background: red !important;
}

#nprogress .spinner-icon {
    border-top-color: white;
    border-left-color: blue;
}

.animation1 {
    transition: 4s;
    animation: animation1 alternate;
    animation-duration: 5s;
    animation-timing-function: 5s;
    animation-iteration-count: infinite;
}

@keyframes animation1 {
    0% {
        opacity: 0;
        transform: scale(1.3);
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

#animacion {
    transition: 4s;
    animation: animation alternate;
    animation-duration: 10s;
    animation-timing-function: 7s;
    animation-iteration-count: infinite;
}

@keyframes animation {
    0% {
        opacity: 0;
        transform: scale(1.3), rotateY(360deg);
    }
    50% {
        opacity: 0.8;
        filter: contrast();
        transform: rotateY(360deg);
    }
    100% {
        opacity: 1;
        transform: scale(1);
        transform: rotateZ(360deg);
        filter: brightness();
    }
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 50px;
    cursor: pointer;
    transition: 1s;
}

.facebook {
    font-size: 50px;
    transition: 500ms;
}

.facebook:hover {
    font-size: 55px;
    transition: 500ms;
    color: rgb(2, 2, 247);
}

.instagram {
    color: rgb(0, 132, 255);
    transition: 500ms;
}

.instagram:hover {
    font-size: 55px;
    transition: 500ms;
    color: #fc0982;
}

.twitter {
    transition: 500ms;
}

.twitter:hover {
    transition: 500ms;
    font-size: 55px;
    color: rgb(0, 132, 255);
}

.youtube {
    transition: 500ms;
}

.youtube:hover {
    transition: 500ms;
    font-size: 55px;
    color: red;
}

.card-title {
    text-align: center;
    color: blue;
    animation-name: title;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: black;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}

body {
    background-color: rgb(0, 0, 0);
}

.bg {
    width: 100%;
    background: linear-gradient(to bottom, #000126, #0202b9);
    border-top: solid 3px whitesmoke;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.img {
    border-radius: 20px;
}

.progress-bar {
    background-color: blue;
}